@use 'variables' as v;

body {
    background: v.$grey;
    font-family: "Gill Sans";
}

.home {
    background: v.$white;
    border-radius: 1rem;
    padding: 1rem;
    margin: 1rem;
    text-align: center;
}

.nav {
    min-height: 100%;
    background: v.$black;
    padding: min(0.5rem, 10%);
    border-radius: 10rem;

    .inactive {
        padding: 0.25rem;
        border-radius: 3rem;
        background: v.$black;
        color: v.$white;
        text-decoration: none;
        font-size: 200%;
        margin-inline: 2rem;

        &:hover {
            background: v.$black;
            color: v.$white;
        }
    }

    .active {
        margin-inline: 2rem;
        padding: 0.25rem;
        border-radius: 3rem;
        font-size: 200%;
        background: v.$white !important;
        color: v.$black !important;
        text-decoration: none;
    }
}

.workout {
    text-align: center;
    background: v.$red;
    color: v.$white;
    border-radius: 1rem;
    padding: 2rem;
    margin: 1rem;

    .link {
        font-family: "Gill Sans";
        border: none;
        text-decoration: none;
        border-radius: 1rem;
        background: v.$black;
        color: v.$white;
        padding: 0.25rem;

        &:hover {
            background: v.$white;
            color: v.$black;
        }
    }

    .delete {
        font-family: "Gill Sans";
        border: none;
        text-decoration: none;
        border-radius: 1rem;
        background: v.$black;
        color: v.$white;
        padding: 0.25rem;
        font-weight: bolder;
        font-size: larger;

        &:hover {
            background: v.$white;
            color: v.$black;
        }
    }

    span {
        display: inline-block;
        margin: 0.5rem;
    }
}

.workout-navbar {
    overflow: hidden;
    overflow-x: scroll;
    background-color: v.$grey;
    padding-top: 1rem;
    text-align: center;

    .inactive {
        padding: 0.25rem;
        border-radius: 3rem;
        background-color: v.$grey;
        color: v.$black;
        text-decoration: none;
        font-size: 200%;
        margin-inline: 2rem;

        &:hover {
            background: v.$black;
            color: v.$white;
        }
    }

    .active {
        margin-inline: 2rem;
        padding: 0.25rem;
        border-radius: 1.5rem 1.5rem 0 0;
        font-size: 200%;
        background: v.$white !important;
        color: v.$black !important;
        text-decoration: none;
    }
}

.unselected {
    border-radius: 3rem;
    padding: 5rem;
    text-align: center;
    background-color: v.$white;
}

.workout-day {
    border-radius: 5rem 5rem;
    background-color: v.$white;
    padding: 1rem 3rem 3rem 3rem;
    display: block;

    p {
        padding-left: 5rem;
        margin: auto;
        text-align: center;
    }
}

.workout-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.create-workout {
    color: white;
    text-align: center;
    background-color: v.$blue;
    border-radius: 1rem;
    padding: 1rem;
    margin: 1rem;
    min-height: 20rem;

    label {
        width: auto;
    }

    input[type=text] {
        color: white;
        background-color: v.$blue;
        padding: 0.25rem;
        width: 50%;
        display: inline-block;
        border: none;
        border-bottom: 2px v.$white solid;
        margin: 1rem;
    }

    .add {
        font-family: "Gill Sans";
        border: none;
        text-decoration: none;
        border-radius: 1rem;
        background: v.$black;
        color: v.$white;
        padding: 0.25rem;
        font-weight: bolder;
        font-size: larger;

        &:hover {
            background: v.$white;
            color: v.$black;
        }
    }
}

.none {
    text-align: center;
    background-color: v.$white;
    border-radius: 1rem;
    padding: 3rem;
    margin: 1rem;
}

.update-workout {
    color: white;
    text-align: center;
    background-color: v.$blue;
    border-radius: 1rem;
    padding: 1rem;
    margin: 1rem;
    min-height: 20rem;
    font-size: larger;

    label {
        width: auto;
    }

    input[type=text] {
        color: white;
        background-color: v.$blue;
        padding: 0.25rem;
        width: 50%;
        display: inline-block;
        border: none;
        border-bottom: 2px v.$white solid;
        margin: 1rem;
    }

    .update {
        font-family: "Gill Sans";
        border: none;
        text-decoration: none;
        border-radius: 1rem;
        background: v.$black;
        color: v.$white;
        padding: 0.25rem;
        font-weight: bolder;
        font-size: larger;

        &:hover {
            background: v.$white;
            color: v.$black;
        }
    }
}

@media (max-width: 1400px) {
    .workout-day {
        margin: 0 -8px 0 -8px;
        border-radius: 0;
    }

    hr {
        display: none;

    }
    .workout-container {
        display: grid;
        grid-template-columns: 1fr;
    }
}